<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>&quot;Pedro Navaja&quot;</string>
	<string>Sui Generis </string>
	<string>Celia Cruz</string>
	<string>Santana</string>
	<string>Los Ángeles Negros</string>
	<string>&quot;Instant Noelia&quot;</string>
	<string>&quot;Mary es mi Amor&quot;</string>
	<string>Los Iracundos</string>
	<string>Los Pasteles Verdes</string>
	<string>Nino Bravo</string>
	<string>Gran Combo</string>
	<string>Periódico de ayer</string>
	<string>Héctor Lavoe</string>
	<string>&quot;El triste&quot;</string>
	<string>Bee Gees</string>
	<string>Miguel Littín</string>
	<string>Abba</string>
	<string>Miguel Bosé</string>
	<string>&quot;Band on the run&quot;</string>
	<string>Pappo’s Blues</string>
	<string>El Padrino</string>
	<string>Atrapados sin Salida</string>
	<string>La  Naranja Mecánica</string>
	<string>Rocky</string>
	<string>Apocalipsis Ahora</string>
	<string>Encuentros Cercanos</string>
	<string>Tiburón</string>
	<string>El Exorcista</string>
	<string>El Francotirador</string>
	<string>Fiebre de Sábado por la Noche </string>
	<string>John Travolta</string>
	<string>Olivia Newton John</string>
	<string>Vaselina</string>
	<string>El Golpe</string>
	<string>Actas de Marusia </string>
	<string>El Hombre Increíble</string>
	<string>La Masacre de Texas </string>
	<string>Carrie</string>
	<string>La Profecía</string>
	<string>10</string>
	<string>Operación Dragón</string>
	<string>Harry, El Sucio</string>
	<string>Los Caraduras </string>
	<string>Mi Bella Genio</string>
	<string>La Tribu de  los Brady</string>
	<string>La Familia Adams</string>
	<string>Días Felices</string>
	<string>El Libro Gordo de Petete</string>
	<string>La familia Ingalls </string>
	<string>Sábado Sensacional Live</string>
	<string>Mork y Mindy</string>
	<string>El Crucero del Amor</string>
	<string>Vito Corleone</string>
	<string>Ritchie Cunningham</string>
	<string>Columbo</string>
	<string>La Novicia Voladora</string>
	<string>Hechizada</string>
	<string>Roberto Clemente</string>
	<string>Al Pacino</string>
	<string>José Feliciano</string>
	<string>Marlon Brando</string>
	<string>José José</string>
	<string>Jackson 5</string>
	<string>Salvador Allende</string>
	<string>Safari</string>
	<string>Roberto Carlos</string>
	<string>Fórmula V</string>
	<string>Lámparas de Lava </string>
	<string>La Mujer Biónica</string>
	<string>Rapsodia Bohemia</string>
	<string>Rubén Blades</string>
	<string>La Guerra de las Galaxias</string>
	<string>Pantalones Acampanados</string>
	<string>Jeannette</string>
	<string>Rafaela Carra</string>
	<string>Revolución Sandinista</string>
	<string>Música Disco</string>
	<string>Zapatos de Plataforma</string>
	<string>Afros</string>
	<string>Disquete</string>
	<string> Willie Colón</string>
	<string>Janis Joplin</string>
	<string>Apollo 17</string>
	<string>La Guerra de Vietnam</string>
	<string>Eagles</string>
	<string>Fania All Stars</string>
	<string>Pablo Neruda</string>
	<string>Jackson 5</string>
	<string>Elías Figueroa</string>
	<string>Roberto Rivelino </string>
	<string>Augusto Pinochet </string>
	<string>Muhammad Ali</string>
	<string>Clint Eastwood</string>
	<string>Isela Vega</string>
	<string>Raphael</string>
	<string>Robert Redford</string>
	<string>Jimi Hendrix</string>
	<string>Charly García</string>
	<string>Juan Gabriel</string>
	<string>Teófilo Cubillas</string>
	<string>Woody Allen</string>
</array>
</plist>
