<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Thriller</string>
	<string>Madonna</string>
	<string>Luis Miguel</string>
	<string>U2</string>
	<string>Bruce Springsteen</string>
	<string>Timbiriche</string>
	<string>Soda Stereo</string>
	<string>Phil Collins</string>
	<string>Magneto</string>
	<string>George Michael</string>
	<string>Whitney Houston</string>
	<string>Caifanes</string>
	<string>El Tri</string>
	<string>Los Lobos</string>
	<string>Dirty Dancing</string>
	<string>Cocodrilo Dundee</string>
	<string>Michael Jackson</string>
	<string>Sumo</string>
	<string>Los Fabulosos Cadillacs</string>
	<string>Franco de Vita</string>
	<string>Bon Jovi</string>
	<string>Genesis</string>
	<string>R.E.M</string>
	<string>Enanitos Verdes</string>
	<string>The Cure</string>
	<string>Ricardo Montaner </string>
	<string>María Conchita Alonso</string>
	<string>Los Violadores </string>
	<string>Rocío Durcal</string>
	<string>Karina</string>
	<string>Hombres G</string>
	<string>Los Pericos</string>
	<string>Lucero</string>
	<string>El Puma</string>
	<string>Fito Páez</string>
	<string>Flans</string>
	<string>La Unión</string>
	<string>&quot;Me Das Cada Día Más&quot;, Valeria Lynch</string>
	<string>Los Twist</string>
	<string>Yuri</string>
	<string>Las Primas</string>
	<string>Glasnost</string>
	<string>Manuel Antonio Noriega</string>
	<string>Pimpinela</string>
	<string>Menudo</string>
	<string>Cyndi Lauper</string>
	<string> Mecano</string>
	<string>The Police</string>
	<string>Los Inhumanos</string>
	<string>Mijares</string>
	<string>Chayanne</string>
	<string>El Club de los Cinco</string>
	<string>Alsino y el Cóndor</string>
	<string>Regreso al Futuro</string>
	<string>Indiana Jones</string>
	<string>E.T. el Extraterrestre</string>
	<string>Los Goonies</string>
	<string>Los Caza Fantasmas</string>
	<string>Breakdance</string>
	<string>El Exterminador</string>
	<string>Top Gun</string>
	<string>Gremlins</string>
	<string>Pelotón</string>
	<string>El Club de los Poetas Muertos</string>
	<string>Alien</string>
	<string>Gabriel García Marquez</string>
	<string>Carlos Andrés Pérez</string>
	<string>Karate Kid</string>
	<string>Bjorn Borg</string>
	<string>El Caracazo</string>
	<string>Olé Olé</string>
	<string>Reproductor de Casete</string>
	<string>Daniela Romo</string>
	<string>Commodore 64</string>
	<string>Sintentizador</string>
	<string>La Historia Sin Fin</string>
	<string>Alaska y Dinarama</string>
	<string>War Games</string>
	<string>¿Y Dónde Está El Piloto?</string>
	<string>Caracortada</string>
	<string>Veni Vidi Vici</string>
	<string>El cubo de Rubik</string>
	<string>Walkman</string>
	<string>Pac Man</string>
	<string>Conan, el Bárbaro</string>
	<string>Hombreras</string>
	<string>Robocop</string>
	<string>Duro de Matar</string>
	<string>El Club de los Cinco</string>
	<string>Neón</string>
	<string>Pandora</string>
	<string>Pastel</string>
	<string>Chernobyl</string>
	<string>La Chaqueta Metálica</string>
	<string>Eddie Murphy</string>
	<string>Bruce Willis</string>
	<string>Los Hermanos Caradura</string>
	<string>Locomia</string>
	<string>Los locos del Golf</string>
	<string>Guerra de las Malvinas</string>
	<string>Beverly Hills Cop</string>
	<string>El Imperio Contraataca</string>
	<string>El Show de Bill Cosby</string>
	<string>MacGyver</string>
	<string>Tres por tres</string>
	<string>Donkey Kong</string>
	<string>Mario Bros</string>
	<string>Lucía Méndez</string>
	<string>Dallas</string>
	<string>Alf</string>
	<string>Miami Vice</string>
	<string>Heather Locklear</string>
	<string>Charlie Sheen</string>
	<string>Miami Vice</string>
	<string>Dinastía</string>
	<string>Cama de Agua</string>
	<string>VHS</string>
	<string>Mr. T</string>
	<string>Patrick Swayze</string>
	<string>Brooke Shields</string>
	<string>He-Man</string>
	<string>Carl Lewis</string>
	<string>Diego Maradona</string>
	<string>Gloria Estefan</string>
	<string>Michael J. Fox</string>
	<string>Héctor Alterio</string>
	<string>Andy García</string>
	<string>Ricardo Darín</string>
	<string>Magic Johnson</string>
</array>
</plist>
