<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Babe, el puerquito valiente</string>
	<string>El Gato en el Sombrero</string>
	<string>Harry Potter</string>
	<string>Ariel</string>
	<string>Mi Villano Favorito</string>
	<string>Blanca Nieves</string>
	<string>Bambi</string>
	<string>La Cenicienta</string>
	<string>El Pato Donald</string>
	<string>Mickey Mouse</string>
	<string>El Chavo del Ocho</string>
	<string>Buscando a Nemo</string>
	<string>El Rey León</string>
	<string>Scooby Doo</string>
	<string>Los Siete Enanos</string>
	<string>Mary Poppins</string>
	<string>Peter Pan</string>
	<string>El Mago de Oz</string>
	<string>Pinocho</string>
	<string>El Hombre Araña</string>
	<string>Superman</string>
	<string>Campanita</string>
	<string>Jasmín</string>
	<string>Justin Bieber</string>
	<string>Hannah Montana</string>
	<string>El Oso Yogi</string>
	<string>Batman</string>
	<string>Bob  El Constructor</string>
	<string>Karate Kid</string>
	<string>Shrek</string>
	<string>Toy story</string>
	<string>Plaza Sésamo</string>
	<string>Pluto</string>
	<string>Bob Esponja</string>
	<string>iCarly</string>
	<string>Los Simpsons</string>
	<string>Selena Gómez</string>
	<string>Dora,  la exploradora</string>
	<string>Dragon Ball</string>
	<string>Candy Candy</string>
	<string>Pocoyó</string>
	<string>La Bella Durmiente</string>
	<string>Los Pitufos</string>
	<string>Bugs Bunny</string>
	<string>Winnie Pooh</string>
	<string> La Rana René</string>
	<string>Rapunzel</string>
	<string>Pulgarcita</string>
	<string>Pokemon</string>
	<string>La Sirenita</string>
	<string>Hansel y Gretel</string>
	<string>La Caperucita Roja</string>
	<string>Las Habichuelas Mágicas</string>
	<string>Los Tres Cerditos</string>
	<string>Mi Pobre Angelito</string>
	<string>Tom &amp; Jerry</string>
	<string>Piratas del Caribe</string>
	<string>Rugrats: Aventuras en Pañales</string>
	<string>Los Hechiceros de Waverly Place</string>
	<string>Las Chicas Superpoderosas</string>
	<string>Los Muppets</string>
	<string>Lassie</string>
	<string>Pippi</string>
	<string>Thomas La Locomotora</string>
	<string>La Era del Hielo</string>
	<string>Cruella De Vil</string>
	<string>He-man</string>
	<string>Beyblade</string>
	<string>Lego</string>
	<string>G.I. Joe</string>
	<string>Barbie</string>
	<string>Soldadito de Juguete</string>
	<string>Play Doh</string>
	<string>Nintendo</string>
	<string>Xbox</string>
	<string>Bicicleta</string>
	<string>Cuerda de Saltar</string>
	<string>Patines</string>
	<string>Resortera</string>
	<string>Canicas</string>
	<string>Pintura para la Cara</string>
	<string>Frisbee</string>
	<string>Hula-Hula</string>
	<string>YoYo</string>
	<string>Cubo de Rubik</string>
	<string>Monopolio</string>
	<string>Bebé Repollito</string>
	<string>Osito Teddy</string>
	<string>Elmo</string>
	<string>Furby</string>
	<string>Nerf</string>
	<string>Hot wheels</string>
	<string>Robin Hood</string>
</array>
</plist>
