<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Kill Bill</string>
	<string>Crepúsculo</string>
	<string>12 años de Esclavitud</string>
	<string>Gravedad</string>
	<string>Ciego</string>
	<string>Frozen: Una aventura congelada</string>
	<string>El Lobo de Wall Street </string>
	<string>Rambo II</string>
	<string>Rocky II</string>
	<string>El Hobitt</string>
	<string>La Lista deSchindler</string>
	<string>El Mago de Oz</string>
	<string>Amores Perros</string>
	<string>Ciudadano Kane </string>
	<string>Robocop</string>
	<string>El Único Superviviente</string>
	<string>Mandela: Un largo camino hacia la Libertad</string>
	<string>Escándalo Americano</string>
	<string>El Club de los Desahuciados</string>
	<string> El Titanic</string>
	<string>El Señor de los Anillos</string>
	<string>Cuatro Bodas y un Funeral</string>
	<string>Mujer Bonita</string>
	<string>¿Qué pasó ayer?</string>
	<string>Los Juegos del Hambre</string>
	<string>Toy Story</string>
	<string>Lawrence de Arabia</string>
	<string>El Padrino</string>
	<string>Sueño de Fuga</string>
	<string>Tiempos Violentos</string>
	<string>Apocalipsis Ahora</string>
	<string>La Guerra de las Galaxias</string>
	<string>Buenos Muchachos</string>
	<string>Matrix</string>
	<string>Casablanca</string>
	<string>Los Cazadores del Arca Pérdida</string>
	<string>Rescatando al Soldado Ryan</string>
	<string>El Exterminador</string>
	<string>Milagros Inesperados</string>
	<string>Volver al Futuro</string>
	<string>Alien</string>
	<string>Django Sin Cadenas</string>
	<string>Belleza Americana</string>
	<string>Corazón Valiente</string>
	<string>Vértigo</string>
	<string>Batman Inicia</string>
	<string>Caracortada</string>
	<string>Toy Story</string>
	<string>Durode Matar</string>
	<string>Tiburón</string>
	<string>Fargo</string>
	<string>El Luchador </string>
	<string>El Bebé de Rosemary</string>
	<string>Buscando a Nemo</string>
	<string>Parque Jurásico</string>
	<string>El Hombre Araña</string>
	<string>El Código Da Vinci </string>
	<string>Forrest Gump</string>
	<string>La Pasión de Cristo</string>
	<string>Rescatando al Soldado Ryan</string>
	<string>Una Eva y dos Adanes</string>
	<string>¿Quién quiere ser millonario?</string>
	<string>Avatar</string>
	<string>¿Y dónde está el piloto?</string>
	<string>La Vendedora de Rosas</string>
	<string>Camino a la perdición </string>
	<string>Psicosis</string>
	<string>Hacia Rutas Salvajes</string>
	<string>Sin City</string>
	<string>¿Donde estás, hermano?</string>
	<string>X-Men</string>
	<string>Bastardos Sin Gloria</string>
	<string>Atrápame si Puedes</string>
	<string>Lo que el Viento se Llevó</string>
	<string>¡Qué bello es vivir!</string>
	<string>Tiempos Violentos</string>
	<string>El Club de la Pelea</string>
	<string>El Bueno, El Malo y El Feo</string>
	<string>Capitán Phillips</string>
	<string>Ciudad de Dios</string>
	<string>La Teta Asustada</string>
	<string>El Secreto de la Montaña</string>
	<string>Gladiador</string>
	<string>Sin Lugar para los Débiles</string>
	<string>Rocky</string>
	<string>Rambo </string>
	<string>El Club de los Cinco</string>
	<string>Taxi Driver</string>
	<string>El Resplandor</string>
	<string>Pelotón</string>
	<string>V de Venganza</string>
	<string>Se7en, los Siete Pecados Capitales </string>
	<string>El Hijo de la Novia</string>
	<string>Fresa y Chocolate</string>
	<string>La Historia Oficial</string>
	<string>2001: Odisea del espacio</string>
	<string>James Bond: La espía que me amó</string>
	<string>Hombres de Negro</string>
	<string>Los Miserables</string>
	<string>Estación Central</string>
	<string>El Pez que Fuma</string>
	<string>Ben Hur</string>
	<string>Valiente</string>
	<string>The Dictator</string>
	<string>Taken</string>
	<string>El Secreto de sus Ojos</string>
	<string>La Cabaña del Terror</string>
	<string>Y tu mamá también</string>
	<string>The Iron Lady</string>
	<string>El Graduado</string>
	<string>Toro Salvaje</string>
	<string> El Legado Bourne</string>
	<string>Bladerunner</string>
	<string>Historias Mínimas</string>
	<string>La Gran Estafa</string>
	<string>El Tigre y El Dragón</string>
	<string>Superman Regresa</string>
	<string>Nueve Reinas</string>
	<string>Bonnie &amp; Clyde</string>
	<string>El Desconocido</string>
</array>
</plist>
