<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Jesús</string>
	<string>Napoleón</string>
	<string>Mahoma</string>
	<string>Shakespeare</string>
	<string>Abraham Lincoln</string>
	<string>Adolfo Hitler</string>
	<string>Aristóteles</string>
	<string>Alejandro Magno</string>
	<string>Enrique VIII</string>
	<string>Charles Darwin</string>
	<string>Elisabeth I</string>
	<string>Karl Marx</string>
	<string>Julio César</string>
	<string>Arturo Michelena</string>
	<string>Martin Luther King</string>
	<string>Joseph Stalin</string>
	<string>Albert Einstein</string>
	<string>Cristobal Colón</string>
	<string>Isaac Newton</string>
	<string>Mozart</string>
	<string>Platón</string>
	<string>Che Guevara</string>
	<string>Leonardo Da Vinci</string>
	<string>César Augusto</string>
	<string>Charles Dickens</string>
	<string>San Pablo</string>
	<string>Miguel de Cervantes</string>
	<string>Gengis Khan</string>
	<string>Thomas Edison</string>
	<string>Gabriel García Márquez</string>
	<string>Sigmund Freud</string>
	<string>Gandhi</string>
	<string>Bach</string>
	<string>Galileo Galilei</string>
	<string>Fidel Castro</string>
	<string>Buda</string>
	<string>Mark Twain</string>
	<string>El Rey David</string>
	<string>Immanuel Kant</string>
	<string>Salvador Allende</string>
	<string>Richard Wagner</string>
	<string>Voltaire</string>
	<string>Mario Vargas LLosa</string>
	<string>Sócrates</string>
	<string>Elvis Presley</string>
	<string>Gabriel García Márquez</string>
	<string>John F. Kennedy</string>
	<string>Vincent Van Gogh</string>
	<string>Nicolas Copernico</string>
	<string>Vladimir Lenin</string>
	<string>Oscar Wilde</string>
	<string>Cicerón</string>
	<string>Hugo Chávez</string>
	<string>Miguel Angel</string>
	<string>Goethe</string>
	<string>Tomás de Aquino</string>
	<string>Nikola Tesla</string>
	<string>Juana de Arco</string>
	<string>Dante Alighieri</string>
	<string>Augusto Pinochet</string>
	<string>Juan Calvino</string>
	<string>Andrés Bello</string>
	<string>Nelsón Mandela</string>
	<string>Atila</string>
	<string>Pablo Picasso</string>
	<string> Rubén Darío</string>
	<string>Frida Kahlo</string>
	<string>Nerón</string>
	<string>Cleopatra</string>
	<string>Johan Gutenberg</string>
	<string>Marco Polo</string>
	<string>Alberto Fujimori</string>
	<string>Confucio</string>
	<string>Moisés</string>
	<string>Hernán Cortez</string>
	<string>General Nelson</string>
	<string>Mao Tse Tung</string>
	<string>Carlos Gardel</string>
	<string>Louis Pasteur</string>
	<string>Euclides</string>
	<string>Pablo Neruda</string>
	<string>Octavio Paz</string>
	<string>Rigoberta Menchú</string>
	<string>Alexander Fleming</string>
	<string>Simón Bolívar</string>
	<string>Nicolás Maquiavelo</string>
	<string>Henry Ford</string>
	<string>Homero</string>
	<string>Marie Curie</string>
	<string>Benjamin Franklin</string>
	<string>Fernando de Magallanes </string>
	<string>Arquímedes</string>
</array>
</plist>
