<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fileName</key>
		<string>Hva</string>
		<key>displayImage_iPhone</key>
		<string>hva</string>
		<key>detailImage_iPhone</key>
		<string>hva_iPad_back</string>
		<key>displayImage_iPad</key>
		<string>hva_iPad</string>
		<key>detailImage_iPad</key>
		<string>hva_iPad_back</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DyrListe</string>
		<key>displayImage_iPhone</key>
		<string>dyr</string>
		<key>detailImage_iPhone</key>
		<string>dyr_iPad_back</string>
		<key>displayImage_iPad</key>
		<string>dyr_iPad</string>
		<key>detailImage_iPad</key>
		<string>dyr_iPad_back</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Filmer</string>
		<key>displayImage_iPhone</key>
		<string>film</string>
		<key>detailImage_iPhone</key>
		<string>film_iPad_back</string>
		<key>displayImage_iPad</key>
		<string>film_iPad</string>
		<key>detailImage_iPad</key>
		<string>film_iPad_back</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Sport</string>
		<key>displayImage_iPhone</key>
		<string>sport</string>
		<key>detailImage_iPhone</key>
		<string>sport_iPad_back</string>
		<key>displayImage_iPad</key>
		<string>sport_iPad</string>
		<key>detailImage_iPad</key>
		<string>sport_iPad_back</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Musikk</string>
		<key>displayImage_iPhone</key>
		<string>musikk</string>
		<key>detailImage_iPhone</key>
		<string>musikk_iPad_back</string>
		<key>displayImage_iPad</key>
		<string>musikk_iPad</string>
		<key>detailImage_iPad</key>
		<string>musikk_iPad_back</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>StjerneListe</string>
		<key>displayImage_iPhone</key>
		<string>stjerner</string>
		<key>detailImage_iPhone</key>
		<string>stjerner_iPad_back</string>
		<key>displayImage_iPad</key>
		<string>stjerner_iPad</string>
		<key>detailImage_iPad</key>
		<string>stjerner_iPad_back</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Barn</string>
		<key>displayImage_iPhone</key>
		<string>barn</string>
		<key>detailImage_iPhone</key>
		<string>barn_iPad_back</string>
		<key>displayImage_iPad</key>
		<string>barn_iPad</string>
		<key>detailImage_iPad</key>
		<string>barn_iPad_back</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>70</string>
		<key>displayImage_iPhone</key>
		<string>70</string>
		<key>detailImage_iPhone</key>
		<string>70_iPad_back</string>
		<key>displayImage_iPad</key>
		<string>70-tallet_iPad</string>
		<key>detailImage_iPad</key>
		<string>70_iPad_back</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>80</string>
		<key>displayImage_iPhone</key>
		<string>80</string>
		<key>detailImage_iPhone</key>
		<string>80_iPad_back</string>
		<key>displayImage_iPad</key>
		<string>80-tallet_iPad</string>
		<key>detailImage_iPad</key>
		<string>80_iPad_back</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>90</string>
		<key>displayImage_iPhone</key>
		<string>90</string>
		<key>detailImage_iPhone</key>
		<string>90_iPad_back</string>
		<key>displayImage_iPad</key>
		<string>90-tallet_iPad</string>
		<key>detailImage_iPad</key>
		<string>90_iPad_back</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>VM</string>
		<key>displayImage_iPhone</key>
		<string>VM</string>
		<key>detailImage_iPhone</key>
		<string>VM_iPad_back</string>
		<key>displayImage_iPad</key>
		<string>VM_iPad</string>
		<key>detailImage_iPad</key>
		<string>VM_iPad_back</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>HistoriskePerson</string>
		<key>displayImage_iPhone</key>
		<string>historiskeperson</string>
		<key>detailImage_iPhone</key>
		<string>historiskeperson_iPad_back</string>
		<key>displayImage_iPad</key>
		<string>historiskeperson_iPad</string>
		<key>detailImage_iPad</key>
		<string>historiskeperson_iPad_back</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Voksne</string>
		<key>displayImage_iPhone</key>
		<string>voksne</string>
		<key>detailImage_iPhone</key>
		<string>voksne_iPad_back</string>
		<key>displayImage_iPad</key>
		<string>voksne_iPad</string>
		<key>detailImage_iPad</key>
		<string>voksne_iPad_back</string>
	</dict>
</array>
</plist>
