<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>&quot;Ciega, sordomuda&quot; Shakira</string>
	<string>&quot;Imagine&quot; John Lennon</string>
	<string>&quot;Querida&quot; Juan Gabriel</string>
	<string>&quot;Corazón&quot; Alejandro Sanz</string>
	<string>&quot;Livin&apos; la vida loca&quot; Ricky Martin</string>
	<string>&quot;Entre el Mar y una Estrella&quot; Thalía</string>
	<string>&quot;A Puro Dolor&quot; Son By Four</string>
	<string>&quot;Ojalá que llueva café&quot; Juan Luis Guerra</string>
	<string>&quot;No me doy por vencido&quot;  Luis Fonsi</string>
	<string>&quot;Sin miedo a nada&quot;  Álex Ubago &amp; Amaia Montero</string>
	<string>&quot;Amor Eterno&quot; Rocío Durcal</string>
	<string>&quot;We Are the Champions&quot; Queen</string>
	<string>&quot;París&quot; La Oreja De Van Gogh</string>
	<string>&quot;Billie Jean&quot; Michael Jackson</string>
	<string>&quot;Hotel California&quot;  Eagles</string>
	<string>&quot;La Macarena&quot; Los Del Río</string>
	<string>&quot;Entre dos tierras&quot;  Héroes Del Silencio</string>
	<string>&quot;Y nos dieron las diez&quot; Joaquín Sabina</string>
	<string>&quot;Atrevete te te&quot; Calle 13</string>
	<string>&quot;Matador&quot; Los Fabulosos Cadillacs</string>
	<string>&quot;Bésame&quot; Ricardo Montaner</string>
	<string>&quot;Angelito&quot; Don Omar</string>
	<string>&quot;Moliendo Café&quot; Hugo Blanco</string>
	<string>&quot;Pedro Navaja&quot; Rubén Blades</string>
	<string>&quot;El Cantante&quot; Hector Lavoe</string>
	<string>&quot;Amor Prohibido&quot;, Selena</string>
	<string>&quot;El Día de mi Suerte&quot; Hector Lavoe &amp; Willie Colón</string>
	<string>&quot;Like a Virgin&quot; Madonna</string>
	<string>&quot;Coleccionista de Canciones&quot; Camila</string>
	<string>&quot;La Vaca Mariposa&quot; Simón Díaz</string>
	<string>&quot;Take Me Out to the Ball Game&quot; Billy Murray</string>
	<string>&quot;Feliz Navidad&quot; José Feliciano</string>
	<string>&quot;Impacto&quot;  Daddy Yankee</string>
	<string>&quot;Mariposa traicionera&quot; Maná</string>
	<string>&quot;Che che cole&quot; Héctor Lavoe</string>
	<string>&quot;Don&quot; Miranda</string>
	<string>&quot;El Rey&quot; Vicente Fernández</string>
	<string>&quot;Nohelia&quot; Nino</string>
	<string>&quot;Ella y El&quot; Ricardo Arjona</string>
	<string>&quot;La Camisa Negra&quot; Juanes</string>
	<string>&quot;María&quot; Ricky Martín</string>
	<string>&quot;Él me mintió&quot; Amanda</string>
	<string>&quot;Mi tierra&quot; Gloria Estefan</string>
	<string>&quot;Desnuda&quot; Ricardo Arjona</string>
	<string>&quot;El sol no regresa&quot; La 5ta Estacion</string>
	<string>&quot;La tortura&quot; Shakira &amp; Alejandro Sanz</string>
	<string>&quot;Georgia On My Mind&quot; Ray Charles</string>
	<string>&quot;Cuando calienta el sol&quot; Luis Miguel</string>
	<string>&quot;Summertime Blues&quot; Cochran Eddie</string>
	<string>&quot;No Woman No Cry&quot; Bob Marley</string>
	<string>&quot;Fotografia&quot; Juanes &amp; Nelly Furtado</string>
	<string>&quot;Blue Suede Shoes&quot; Carl Perkins</string>
	<string>&quot;La Gota Fría&quot; Carlos Vives</string>
	<string>&quot;Muriendo lento&quot; Moderatto &amp; Belinda</string>
	<string>&quot;Adios le pido&quot; Juanes</string>
	<string>&quot;Caballo Viejo&quot; Simón Díaz</string>
	<string>&quot;Zoom&quot; Soda Stereo</string>
	<string>&quot;Umbrella&quot; Rihanna</string>
	<string>&quot;Losing my religion&quot; REM</string>
	<string>&quot;Provócame&quot; Chayanne</string>
	<string>&quot;Suavemente&quot; Elvis Crespo</string>
	<string>&quot;Vuelve&quot; Ricky Martin</string>
	<string>&quot;Todos me miran&quot; Gloria Trevi</string>
	<string>&quot;Suerte&quot; Shakira</string>
	<string>&quot;Amante Bandido&quot;  Miguel Bosé</string>
	<string>&quot;Dale don Dale&quot; Don Omar</string>
	<string>&quot;Corazon Espinado&quot;  Carlos Santana &amp; Maná</string>
	<string>&quot;Aire&quot; Mecano</string>
	<string>&quot;Help&quot; Beatles</string>
	<string>&quot;Rehab&quot; Amy Winehouse</string>
	<string>&quot;Me gustas Tú&quot; Manu Chau</string>
	<string>&quot;Satisfaction&quot; Rolling Stone</string>
	<string>&quot;American Pie&quot; Don McClean</string>
	<string>&quot;Bad Romance&quot; Lady Gaga</string>
	<string>&quot;Beautiful&quot; Christina Aguilera</string>
	<string>&quot;Yesterday&quot; Beatles</string>
	<string>&quot;Dancing Queen&quot; Abba</string>
	<string>&quot;Like a prayer&quot; Madonna</string>
	<string>&quot;Bohemian Rhapsody&quot; Queen</string>
	<string>&quot;Roar&quot; Katy Perry</string>
	<string>&quot;Wrecking ball&quot; Miley Cyrus</string>
	<string>&quot;Royals&quot; Lorde</string>
	<string>&quot;Gangnam Style&quot; Psy</string>
	<string>&quot;What does the fox say&quot; Ylvis</string>
	<string>&quot;Girl on fire&quot; Alicia Keys</string>
	<string>&quot;Applause&quot; Lady Gaga</string>
	<string>&quot;Sálvame&quot; RBD</string>
	<string>&quot;Tardes Negras&quot; Tiziano Ferro</string>
	<string>&quot;Se Fué&quot; Laura Pausini</string>
	<string>&quot;Without me&quot; Eminem</string>
	<string>&quot;La Gasolina&quot; Daddy Yankee</string>
	<string>&quot;Amor a la Mexicana&quot; Thalía</string>
	<string>&quot;El Problema&quot; Ricardo Arjona</string>
	<string>&quot;Eres&quot; Café Tacuba</string>
	<string>&quot;Comprendes Mendez&quot; Control Machete</string>
	<string>&quot;Silencio&quot; David Bisbal</string>
</array>
</plist>
