<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Katy Perry</string>
	<string>Justin Beiber</string>
	<string>Lady Gaga</string>
	<string>Tito el bambino</string>
	<string>Britney Spears</string>
	<string>Rihanna</string>
	<string>Justin Timberlake</string>
	<string>Cristiano Ronaldo</string>
	<string>Shakira</string>
	<string>Paulina Rubio</string>
	<string>Pink</string>
	<string>Ninel Conde</string>
	<string>Thalía</string>
	<string>Selena Gomez</string>
	<string>Shakira</string>
	<string>Eminem</string>
	<string>Miley Cyrus</string>
	<string>Don Omar</string>
	<string>Beyonce</string>
	<string>Carlos Ponce</string>
	<string>Christina Aguillera</string>
	<string>William Levy</string>
	<string>Kanye West</string>
	<string>Niurka Marcos</string>
	<string>Chayanne</string>
	<string>Leonardo Di Caprio</string>
	<string>Carlos Baute</string>
	<string>Pittbull</string>
	<string>Maite Perroni -</string>
	<string>Chris O´Donnel</string>
	<string>Colin Firth</string>
	<string>Chris Rock</string>
	<string>Dulce María</string>
	<string>Tom Hanks</string>
	<string>Adamari López</string>
	<string>Luis Fonsi</string>
	<string>Don Francisco</string>
	<string>David Beckham</string>
	<string>Diane Keaton</string>
	<string>Adriana Lima</string>
	<string>Gael García Bernal</string>
	<string>Emma Watson</string>
	<string>Eva Mendez</string>
	<string>Gisele Bündchen</string>
	<string>Kuno Becker</string>
	<string>Sebastián Rully</string>
	<string>Diego Luna</string>
	<string>Paul McCartney</string>
	<string>Lionel Messi </string>
	<string>Gaby Espino</string>
	<string>Barack Obama</string>
	<string>Michelle Bachelet</string>
	<string>Eduardo Santamarina</string>
	<string>Fernando Colunga</string>
	<string>Lucero</string>
	<string>Homero Simpson</string>
	<string>Johnny Depp</string>
	<string>Jessica Alba</string>
	<string>Anahí Puente</string>
	<string>Cristiano Ronaldo</string>
	<string>John Travolta</string>
	<string>María Conchita Alonso</string>
	<string>Jackie Chan</string>
	<string>América Ferrera</string>
	<string>Ricky Martin</string>
	<string>Jennifer López</string>
	<string>Keith Richards</string>
	<string>Mick Jagger</string>
	<string>Kristin Scott Thomas</string>
	<string>Marjorie de Sousa</string>
	<string>Alicia Machado</string>
	<string>Eugenio Derbez </string>
	<string>Javier Bardem</string>
	<string>Gilberto Santarosa</string>
	<string>Gabriela Spanic</string>
	<string>Rubén Blades </string>
	<string>Gabriela Vergara</string>
	<string>Nelly Furtado</string>
	<string>Gustavo Cerati</string>
	<string>Paris Hilton</string>
	<string>Penelope Cruz</string>
	<string>Eileen Abad</string>
	<string>Alfonso Cuarón</string>
	<string>Aracely Arámbula</string>
	<string>Mauricio Islas</string>
	<string>Saul Lizaso</string>
	<string>Cristina Kirchner</string>
	<string>Joaquin Sabina</string>
	<string>Alejandra Guzmán</string>
	<string>Tom Cruise</string>
	<string>Viviana Gibelli</string>
	<string>Marc Anthony</string>
	<string>Dilma rousseff</string>
	<string>Al Pacino</string>
	<string>Mónica Spear</string>
	<string>Ben Stiller</string>
	<string>Bill Cosby</string>
	<string>Enrique Iglesia</string>
	<string>Bob Marley</string>
	<string>Beto Cuevas</string>
	<string>Máxima Zorreguieta</string>
	<string>Príncipe Guillermo</string>
	<string>Gloria Trevi</string>
	<string>Príncipe Enrique</string>
	<string>Angelique Boyer</string>
	<string>Kate del Castillo</string>
	<string>Robert Downey Jr</string>
	<string>Will Smith</string>
	<string>Denzel Washington</string>
	<string>Eduardo Verástegui</string>
	<string>Daniel Radcliffe</string>
	<string>Aarón Díaz</string>
	<string>Natalia Streignard</string>
	<string>Eduardo Palomo</string>
	<string>Anne Hathaway</string>
	<string>Andrea Echeverri</string>
	<string>Osvaldo Ríos</string>
	<string>Manolo Cardona</string>
	<string>Fito Páez</string>
	<string>Julia Roberts</string>
	<string>Edith González</string>
	<string>Mario Cimarro</string>
	<string>Juan Pablo Raba</string>
	<string>Charly García</string>
	<string>Julieta Venegas</string>
	<string>Bárbara Mori</string>
	<string>Jaime Baily</string>
	<string>Oscar D' León</string>
</array>
</plist>
