<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Michelle Platini</string>
	<string>Diego Maradona</string>
	<string>Pelé</string>
	<string>David Beckham</string>
	<string>Lionel Messi</string>
	<string>Marseille</string>
	<string>Ronaldo</string>
	<string>Aldair</string>
	<string>Zito</string>
	<string>Kaká</string>
	<string>Jurgen Klinsmann</string>
	<string>Estadio de Maracaná</string>
	<string>Cuauhtémoc Blanco</string>
	<string>Romario</string>
	<string>Zidane</string>
	<string>Gerry Armstrong</string>
	<string>Socrates</string>
	<string>Thomas Brolin</string>
	<string>Thomas Müller</string>
	<string>Didier Deschampes</string>
	<string>Emilie Butragueno</string>
	<string>Pelé</string>
	<string>Careca</string>
	<string>Carlos Valderama</string>
	<string>Alexandre Pato</string>
	<string>Cafú</string>
	<string>Iker Casillas</string>
	<string>Ossie Ardiles</string>
	<string>Michael Owen</string>
	<string>Jorge Valdano</string>
	<string>Carlos "El Pibe" Valderrama</string>
	<string>Marcel Desailly</string>
	<string>Angel "El Angelito" di Maria</string>
	<string>Davor Suker</string>
	<string>Michael Laudrup</string>
	<string>Luis Hernández</string>
	<string>Radamel Falcao</string>
	<string>Marco Tardelli</string>
	<string>Michael Ballack</string>
	<string>Carlos Tévez,</string>
	<string>Jan Ceulemans</string>
	<string>Leonidas</string>
	<string>Diego Forlán</string>
	<string>Roberto Rojas</string>
	<string>Andres Iniesta</string>
	<string>Sergio "Kun" Aguero </string>
	<string>Rob Rensenbrink</string>
	<string>Zbigniew Boniek</string>
	<string>Ronaldinho</string>
	<string>Gabriel Batistuta</string>
	<string>Didi</string>
	<string>Oliver Kahn</string>
	<string>Giuseppe Bergomi</string>
	<string>Zico</string>
	<string>David Villa</string>
	<string>Gianluigi Buffon</string>
	<string>Javier "Chicharito" Hernández</string>
	<string>Gregorz Lato</string>
	<string>Gordon Banks</string>
	<string>Dani Alves</string>
	<string>Giovanni Dos Santosr</string>
	<string>Daniel Passarella</string>
	<string>Rafa Márquez</string>
	<string>Carlos Hermosillo</string>
	<string>Ferenc Puskas</string>
	<string>Paul Breitner</string>
	<string>Gheorge Hagi</string>
	<string>Zizinho</string>
	<string>Iván Luis Zamorano</string>
	<string>Dunga</string>
	<string>Roberto Carlos</string>
	<string>Roberto Rivelino</string>
	<string>Gary Lineker</string>
	<string>Carlos Alberto</string>
	<string>Teófilo Cubillas</string>
	<string>Neymar</string>
	<string>Rivaldo</string>
	<string>Romario</string>
	<string>Just Fontaine</string>
	<string>Mauro Silva</string>
	<string>Miroslav Klose</string>
	<string>Geoff Hurst</string>
	<string>Paolo Maldini</string>
	<string>Bobby Charlton</string>
	<string>Roberto Baggio</string>
	<string>Alexis Sánchez </string>
	<string>Paolo Rossi</string>
	<string>Bobby Moore</string>
	<string>Bebeto</string>
	<string>Garrincha</string>
	<string>Franz Beckenbauer</string>
	<string>Zinedine Zidane</string>
	<string>Ronaldo</string>
	<string> Luis Suárez</string>
	<string>Mario Kempes</string>
	<string> Edinson Cavani</string>
</array>
</plist>
