<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Silicón</string>
	<string>Bikini</string>
	<string>Póquer</string>
	<string>Sexo en la playa</string>
	<string>Hilo Dental</string>
	<string>XXX</string>
	<string>Cigarro</string>
	<string>Mónica Lewinsky</string>
	<string>Nueve Semanas y Media</string>
	<string>Distrito Rojo</string>
	<string>Desnudistas</string>
	<string>Club de Desnudistas</string>
	<string>Despedida de Soltero</string>
	<string>Budweiser</string>
	<string> Medias de Nylon</string>
	<string>Virgen</string>
	<string>Alargador de Pene</string>
	<string>Porno</string>
	<string>Ferarri</string>
	<string>Versace</string>
	<string>Masaje</string>
	<string>Final Feliz</string>
	<string>Hugh Hefner</string>
	<string>Senos</string>
	<string>Nadar Desnudos</string>
	<string>Sauna</string>
	<string>Sumisa</string>
	<string>MILF</string>
 <string>Pantaletas de Encaje</string> <string>Dominatrix</string>	<string>Bisexual</string>
	<string>Bar</string>
	<string>Gay</string>
	<string>Prostituta</string>
	<string>Deseo Anal</string>
	<string> Próstata</string>
	<string>Cerveza</string>
	<string>Playa Nudista</string>
	<string>Mota</string>
	<string>Dildo</string>
	<string>Condón</string>
	<string>Coñac</string>
	<string>Vino Rojo</string>
	<string>Whisky</string>
	<string>Sasha Grey</string>
	<string>Pamela Anderson</string>
	<string>Jenna James</string>
	<string>Melones</string>
	<string>Swinging</string>
	<string>Secreción</string>
	<string>Brasilera</string>
	<string>Pervertido</string>
	<string>Karaoke</string>
	<string>Playboy</string>
	<string>Cancaneo</string>
	<string>Agujero Glorioso</string>
	<string>S&amp;M</string>
	<string>Clamidia</string>
	<string>Brasier</string>
	<string>Cam show</string>
	<string>Trío</string>
	<string>Sexo en Grupo</string>
	<string>Felación</string>
	<string>Enema</string>
	<string>Chupón</string>
	<string>Intoxicado</string>
	<string>Victoria´s secret</string>
	<string>Poste para Striptease</string>
	<string>Martini</string>
	<string>James Bond</string>
	<string>Tatuaje</string>
	<string>Piercing</string>
	<string>Piña Colada</string>
	<string>Kama sutra</string>
	<string> Canal Venus</string>
	<string>Beso Francés</string>
	<string>Símbolo Sexual</string>
	<string>Vodka</string>
	<string>Gigoló</string>
	<string>Cupido</string>
	<string>Sex en Ciudad</string>
	<string>Fetichismo de los Pies</string>
	<string>Margarita</string>
	<string>Vídeo sexual</string>
	<string>Perfume</string>
	<string>50 Sombras de Grey</string>
	<string>Viagra</string>
	<string>Porsche</string>
	<string>Orgasmo</string>
	<string>Cuba Libre</string>
	<string>Masaje Francés</string>
	<string>Pezón</string>
	<string>Brad Pitt</string>
	<string>Pantaleta</string>
	<string>Minifalda</string>
	<string>Madonna</string>
	<string>Mike Tyson</string>
	<string>La Píldora</string>
	<string>Sexo en Grupo</string>
	<string>Meneo</string>
	<string>Estrella Porno</string>
	<string>Escote</string>
	<string>Maquillaje</string>
	<string>Ruleta Rusa</string>
	<string>Masaje Griego</string>
	<string>Sueño Húmedo</string>
	<string>Jacuzzi</string>
	<string>Chulo</string>
	<string>Botox</string>
	<string>Voyeur</string>
	<string>Follando</string>
<string>Rocco Siffredi</string>
	<string>Escote</string>
	<string>Botas de Cuero</string>
	<string>Estilo Perrito</string>
	<string>Misionero</string>
	<string>Lesbiana</string>
	<string>William Levy</string>
	<string>Charly García</string>
	<string>Sucia</string>
	<string>Tacones Altos</string>
</array>
</plist>
